body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:40px;
  width:1000px;
  height:10px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:10px;
}
#u1 {
  position:absolute;
  left:2px;
  top:-3px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:16px;
  top:11px;
  width:91px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:18px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:19px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:873px;
  top:15px;
  width:127px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:50px;
  top:116px;
  width:57px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:14px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:190px;
  top:119px;
  width:200px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u9 {
  position:absolute;
  left:50px;
  top:169px;
  width:85px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:14px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:14px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:190px;
  top:168px;
  width:200px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u12 {
  position:absolute;
  left:190px;
  top:168px;
  width:10px;
  height:10px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u13 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:380px;
  top:168px;
  width:10px;
  height:10px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u15 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:190px;
  top:224px;
  width:20px;
  height:20px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u17 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:194px;
  top:228px;
  width:12px;
  height:12px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u19 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:201px;
  top:228px;
  width:189px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:172px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:189px;
  height:1px;
}
#u21 {
  position:absolute;
  left:50px;
  top:224px;
  width:71px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:14px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:14px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:50px;
  top:280px;
  width:85px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:14px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:14px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:190px;
  top:286px;
  width:200px;
  height:100px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u26 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:50px;
  top:420px;
  width:60px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:14px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:190px;
  top:426px;
  width:200px;
  height:100px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u30 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:190px;
  top:411px;
  width:60px;
  height:16px;
  color:#009900;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u32 {
  position:absolute;
  left:2px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:540px;
  top:116px;
  width:57px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:14px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:540px;
  top:166px;
  width:57px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:14px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:658px;
  top:166px;
  width:34px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  color:#666666;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:13px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:628px;
  top:158px;
  width:20px;
  height:30px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:628px;
  top:188px;
  width:200px;
  height:100px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u42 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:628px;
  top:114px;
  width:109px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#FF0033;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:540px;
  top:336px;
  width:57px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:14px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:628px;
  top:351px;
  width:200px;
  height:100px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u48 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:628px;
  top:336px;
  width:60px;
  height:16px;
  color:#000000;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u50 {
  position:absolute;
  left:2px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
