body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1038px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:91px;
  top:25px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#FFFFFF;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3 {
  position:absolute;
  left:176px;
  top:25px;
  width:57px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:14px;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:267px;
  top:25px;
  width:57px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:14px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:10px;
  top:10px;
  width:1028px;
  height:62px;
  font-size:14px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1028px;
  height:62px;
}
#u8 {
  position:absolute;
  left:2px;
  top:23px;
  width:1024px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:30px;
  top:15px;
  width:50px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u10 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:97px;
  top:29px;
  width:37px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:18px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:19px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:825px;
  top:31px;
  width:83px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:14px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:14px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:974px;
  top:31px;
  width:29px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:14px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:14px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:915px;
  top:35px;
  width:6px;
  height:4px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u19 {
  position:absolute;
  left:2px;
  top:-6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:915px;
  top:33px;
  width:6px;
  height:4px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u21 {
  position:absolute;
  left:2px;
  top:-6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:899px;
  top:13px;
  width:21px;
  height:18px;
  font-size:10px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u23 {
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:931px;
  top:30px;
  width:33px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:14px;
  text-decoration:underline;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:14px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:191px;
  top:31px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#FFFFFF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:278px;
  top:31px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#FFFFFF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:434px;
  top:41px;
  width:6px;
  height:4px;
  font-family:'SimSun', 'SimSun';
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u31 {
  position:absolute;
  left:2px;
  top:-6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:434px;
  top:39px;
  width:6px;
  height:4px;
  font-family:'SimSun', 'SimSun';
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u33 {
  position:absolute;
  left:2px;
  top:-6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:365px;
  top:31px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#FFFFFF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:187px;
  top:135px;
  width:848px;
  height:10px;
}
#u36_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_end {
  position:absolute;
  left:831px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_line {
  position:absolute;
  left:0px;
  top:5px;
  width:848px;
  height:1px;
}
#u37 {
  position:absolute;
  left:230px;
  top:95px;
  width:500px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:14px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:14px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:188px;
  top:140px;
  width:848px;
  height:750px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:750px;
}
#u40 {
  position:absolute;
  left:2px;
  top:367px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:218px;
  top:210px;
  width:791px;
  height:640px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:791px;
  height:640px;
}
#u42 {
  position:absolute;
  left:2px;
  top:312px;
  width:787px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:370px;
  top:280px;
  width:29px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:13px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:248px;
  top:317px;
  width:730px;
  height:10px;
}
#u45_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_end {
  position:absolute;
  left:713px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_line {
  position:absolute;
  left:0px;
  top:4px;
  width:730px;
  height:2px;
}
#u46 {
  position:absolute;
  left:248px;
  top:366px;
  width:730px;
  height:43px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:43px;
}
#u47 {
  position:absolute;
  left:2px;
  top:14px;
  width:726px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:248px;
  top:447px;
  width:730px;
  height:10px;
}
#u48_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_end {
  position:absolute;
  left:713px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_line {
  position:absolute;
  left:0px;
  top:5px;
  width:730px;
  height:1px;
}
#u49 {
  position:absolute;
  left:269px;
  top:287px;
  width:27px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:256px;
  top:342px;
  width:50px;
  height:15px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:256px;
  top:383px;
  width:50px;
  height:15px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:256px;
  top:422px;
  width:50px;
  height:15px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:699px;
  top:477px;
  width:279px;
  height:52px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:52px;
}
#u58 {
  position:absolute;
  left:2px;
  top:18px;
  width:275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:219px;
  top:163px;
  width:106px;
  height:10px;
}
#u59_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_end {
  position:absolute;
  left:89px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_line {
  position:absolute;
  left:0px;
  top:4px;
  width:106px;
  height:3px;
}
#u60 {
  position:absolute;
  left:375px;
  top:184px;
  width:57px;
  height:14px;
  font-size:14px;
  color:#0099FF;
  text-align:center;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:219px;
  top:170px;
  width:106px;
  height:45px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:14px;
  color:#666666;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:45px;
}
#u63 {
  position:absolute;
  left:2px;
  top:16px;
  width:102px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:348px;
  top:300px;
  width:74px;
  height:15px;
  text-align:center;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:15px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:506px;
  top:280px;
  width:32px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  text-align:center;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:13px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:487px;
  top:300px;
  width:74px;
  height:15px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:15px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:642px;
  top:280px;
  width:28px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  text-align:center;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:13px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:622px;
  top:300px;
  width:74px;
  height:15px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:15px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:772px;
  top:280px;
  width:44px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  text-align:center;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:13px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:759px;
  top:300px;
  width:74px;
  height:15px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:15px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:903px;
  top:280px;
  width:57px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  text-align:center;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:13px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:895px;
  top:300px;
  width:74px;
  height:15px;
  text-align:center;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:15px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:10px;
  top:71px;
  width:180px;
  height:818px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:818px;
}
#u84 {
  position:absolute;
  left:2px;
  top:401px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:10px;
  top:79px;
  width:180px;
  height:50px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
}
#u86 {
  position:absolute;
  left:2px;
  top:17px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:74px;
  top:96px;
  width:43px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:14px;
  color:#A1A1A1;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:14px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:72px;
  top:150px;
  width:57px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:14px;
  color:#95A4B8;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:72px;
  top:263px;
  width:57px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:14px;
  color:#199ED7;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:11px;
  top:79px;
  width:4px;
  height:50px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:50px;
}
#u94 {
  position:absolute;
  left:2px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:44px;
  top:94px;
  width:18px;
  height:18px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u96 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:44px;
  top:151px;
  width:18px;
  height:18px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u98 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:10px;
  top:233px;
  width:180px;
  height:10px;
}
#u99_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u99_end {
  position:absolute;
  left:163px;
  top:-5px;
  width:18px;
  height:20px;
}
#u99_line {
  position:absolute;
  left:0px;
  top:5px;
  width:180px;
  height:1px;
}
#u100 {
  position:absolute;
  left:356px;
  top:342px;
  width:57px;
  height:15px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:356px;
  top:383px;
  width:57px;
  height:15px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:356px;
  top:422px;
  width:57px;
  height:15px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:496px;
  top:342px;
  width:57px;
  height:15px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:496px;
  top:383px;
  width:57px;
  height:15px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:496px;
  top:422px;
  width:57px;
  height:15px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:628px;
  top:342px;
  width:57px;
  height:15px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:628px;
  top:383px;
  width:57px;
  height:15px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:628px;
  top:422px;
  width:57px;
  height:15px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u118 {
  position:absolute;
  left:777px;
  top:342px;
  width:57px;
  height:15px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u120 {
  position:absolute;
  left:777px;
  top:383px;
  width:57px;
  height:15px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:777px;
  top:422px;
  width:57px;
  height:15px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:903px;
  top:342px;
  width:57px;
  height:15px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:903px;
  top:383px;
  width:57px;
  height:15px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:903px;
  top:422px;
  width:57px;
  height:15px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:465px;
  top:322px;
  width:113px;
  height:130px;
  opacity:0.15;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:130px;
}
#u131 {
  position:absolute;
  left:2px;
  top:57px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:739px;
  top:322px;
  width:113px;
  height:130px;
  opacity:0.15;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:130px;
}
#u133 {
  position:absolute;
  left:2px;
  top:57px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:248px;
  top:239px;
  width:520px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:14px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:12px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  word-wrap:break-word;
}
